@using ViopOrtalamaHesaplama.UI.Models.Contracts
@model List<CompanyAvarages>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Company Averages";
}

<!DOCTYPE html>
<html>
<head>
    <title>Company Averages</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        .average-cell {
            text-align: right;
        }
    </style>
</head>
<body>
    <h1>Company Averages</h1>
    <table>
        <thead>
            <tr>
                <th>Şirket</th>
                <th>Vade</th>
                <th>Pozisyon</th>
                <th>Adet</th>
                               <th>Ortalama</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contractAverage in Model)
            {
                <tr>
                    <td>@contractAverage.Company</td>
                    <td>@contractAverage.Expiry.GetDisplayName()-@contractAverage.Expiry.GetValue()</td>
                    <td>@contractAverage.Position</td>
                    <td>@contractAverage.Quantity</td>
                    <td class="average-cell">@contractAverage.ContactAverage.ToString("N4")</td>
                </tr>
            }
        </tbody>
    </table>
    
</body>
</html>
