@using ViopOrtalama.Entities.Enums;
@using ViopOrtalamaHesaplama.UI.Models.Contracts;
@model CreateContractCompanyVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
}



<!DOCTYPE html>
<html>
<head>
    <style>
        /* CSS kodunu burada tanımlayın */
        .position-button:hover,
        .position-button.active {
            background-color: cornflowerblue;
            /* Diğer hover stil tanımlamalarını buraya ekleyin */
        }
    </style>
    <title>Kontrat Aç</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Kontrat Aç</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Expiry"></label>
                <select asp-for="Expiry" class="form-control">
                   
                    @for (int i = 0; i < 3; i++) // Mevcut ay ve sonrasındaki 2 ay
                    {
                        var nextMonth = DateTime.Now.AddMonths(i).Month;
                        var nextMonthEnumValue = (Expiry)nextMonth;

                        <option value="@nextMonth">@nextMonthEnumValue.GetDisplayName() - @nextMonth</option>
                    }
                </select>
                <span asp-validation-for="Expiry" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Company"></label>
                <select asp-for="Company" class="form-control">
                    <option value="Company">Seçiniz</option>
                    @foreach (var companyValue in Enum.GetValues(typeof(Company)))
                    {
                        <option value="@companyValue">@companyValue</option>
                    }

                </select>
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>

           
            <div class="form-group">
                <label asp-for="Position">Position:    </label>
                <div class="btn-group">
                    @foreach (var positionValue in Enum.GetValues(typeof(Position)).Cast<Position>())
                    {
                        <button type="button" class="btn position-button @(Model?.Position == positionValue ? "active" : "")" data-value="@positionValue">@positionValue.ToString()</button>
                    }
                </div>
                <input type="hidden" asp-for="SelectedPosition" />
              
            </div>



            <!-- Diğer form alanları için benzer şekilde devam edebilirsiniz -->

            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="Lütfen fiyatı giriniz..." />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
     
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const positionButtons = document.querySelectorAll('.position-button');
        const selectedPositionInput = document.getElementById('SelectedPosition');

        positionButtons.forEach(button => {
            button.addEventListener('click', function () {
                positionButtons.forEach(btn => btn.classList.remove('active'));
                this.classList.add('active');
                const positionValue = this.getAttribute('data-value');
                selectedPositionInput.value = positionValue;
            });
        });
           function toggleActive(button) {
            button.classList.toggle("active");
        }

    </script>
</body>
</html>

